<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compu Mundo</title>
    <link rel="stylesheet" href="../public/static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </nav>
    </header>
    <div id="1"></div>
    <section></section>
    <div id="contenedor slider">
        <figure></figure>
    </div>
    <footer>
        <div id="contenedorRedes">
            <figure></figure>
            <figure></figure>
            <figure></figure>
            <figure></figure>
        </div>
        <div id="contenedorSubscribcion">
            <a href="#"></a><a href="#"></a>
        </div>
    </footer>
</body>
</html>